<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bimangle.ForgeEngine.Common" version="1.0.3" targetFramework="net461" />
  <package id="Bimangle.ForgeEngine.Dwg" version="1.1.5" targetFramework="net461" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>